html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

button,label {
    font-size: 3rem;
    height: 100px;
    width: 100px;
    background: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover:enabled,label:hover {
    cursor: pointer;
    background-color: var(--color_accent_light);
}
button:active:enabled, label:active{
    background-color: var(--color_accent_dark);
}
input[type="file"] {
    display: none;
}

.townNameInput {
    font-size: 3rem;
    height: 100px;
    background: none;
    border: none;
    outline: none;
    color: var(--color_light);
}

.header_container {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.side_items {display: flex;
    flex-direction: row;
    margin-inline: 2rem;
}

.new_city_button {
    position: relative;
}

.size_slider {
    position: absolute;
    bottom: 0;
}