
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mobile_overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: var(--color_dark);
    color: var(--color_light);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MedievalSharp', cursive;
    flex-direction: column;
}
.mobile_overlay > p {
    padding-inline: 5rem;
}


@media(min-width: 1000px){
.mobile_overlay {
    display: none;
    width: 0;
    height: 0;
}

canvas {
    display: block;
}

button,label {
    font-size: 3rem;
    height: 100px;
    width: 100px;
    background: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover:enabled,label:hover {
    cursor: pointer;
    background-color: var(--color_accent_light);
}
button:active:enabled, label:active{
    background-color: var(--color_accent_dark);
}
input[type="file"] {
    display: none;
}

.townNameInput {
    font-size: 3rem;
    height: 100px;
    background: none;
    border: none;
    outline: none;
    color: var(--color_light);
    font-family: 'MedievalSharp', cursive;
}

.header_container {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.side_items {display: flex;
    flex-direction: row;
    margin-inline: 2rem;
}

.new_city_button {
    position: relative;
}

.size_slider {
    position: absolute;
    bottom: 0;
}

.click_me {
    background-color: var(--color_success);
    animation-name: animate_click_me;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes animate_click_me {
    0% {
        background-color: var(--color_success);
    }

    50% {
        background-color: rgba(0,0,0,0);
    }

    100% {
        background-color: var(--color_success);
    }
}
}