html,body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

button {
    background: none;
    border:none;
    font-size: 2rem;
    text-align: center;
}
button:disabled {
    display: none;
}
button:hover {
    background: #5B8E7D;
}
.active, button:focus, button:active {
    background: #F4A259;
}
#detail-pane {
    padding: 1rem;
}
h1{
    color:#5B8E7D;
    font-size: 2rem;
    margin-top: 1rem;
}
h1:hover {
    color: #F4A259;
    cursor: pointer;
}
label {
    color: #999;
}
input,textarea {
    width: 250px;
    padding: 5px 10px;
}
.detail-section {
    display: flex;
    flex-direction: column;
}